/*
  Author: Salem Ben Aissa
  File name: index.html
  Date: 02-09-2024
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  padding: 2% 5% 5% 5%;
  background-color: #004D40;
  color: #fff;
}

.logo {
  float: left;
}

nav {
  float: right;
  width: 25%;
  font-size: 1.12em;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 5%;
  font-family: "Lora", serif;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 20%;
}

nav li a:hover {
  background-color: #E0F2F1;
  color: #000;
}

body {
  font-size: 1.25em;
}

main {
  clear: left;
}

.intro {
  width: 60%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

footer {
  margin-top: 10%;
  padding: 2% 5%;
  background-color: #000;
  color: #fff;
}